@import "./variables.scss";
// up arrow
#upArrow {
 height: 3rem;
 width: 3rem;
 background-color: $clr-prin-100;
 bottom: 0.5rem;
 right: 0.5rem;
 z-index: 1000;
 border-radius: 10%;
 position: fixed;
 transition: opacity 0.5s, visibility 0.5s;
 visibility: hidden;
 opacity: 0;
 display: flex;
 justify-content: center;
 align-items: center;

 &.active {
  visibility: visible;
  opacity: 0.7;
 }

 &.inactive {
  visibility: hidden;
  opacity: 0;
 }

 > svg {
  height: 2.5rem;
 }
}

// up arrow
