@import "./variables.scss";
// loader
#loader {
	width: 100vw;
	height: 100vh;
	background-color: $clr-bas-0;
	z-index: 100000;
	position: fixed;
	display: flex;
	align-items: center;

	&.active {
		animation: closeAnimation 1s forwards;
	}

	#loaderContainer {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.loaderCircle {
			width: 10%;
			height: 10%;
			border-radius: 50%;
			margin: 0 5%;
			animation: circleAnimation 2s infinite alternate;

			&:nth-child(1) {
				background-color: $clr-bas-1000;
			}

			&:nth-child(2) {
				background-color: $clr-prin-400;
				animation-delay: .5s;
			}

			&:nth-child(3) {
				background-color: $clr-prin-200;
				animation-delay: 1s;
			}
		}
	}
}

// circles animation
@keyframes circleAnimation {
	20% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

// close animation
@keyframes closeAnimation {
	100% {
		visibility: hidden;
		display: none;
		opacity: 0;
	}
}