@import "./variables.scss";
// servicios
#servicios {
 overflow-y: hidden;
 .serviciosContainer {
  > ul {
   > .serviciosLi {
    margin: 1rem 0.5rem;
    border-radius: 30px;
    box-sizing: content-box;
    position: relative;

    &.secondary {
     animation: serviciosLiAnimation 2s forwards;
    }

    &.active {
     & .serviciosService {
      justify-content: center;
     }

     & .serviciosIcon {
      animation: serviciosIconAnimationDisappear 1s forwards;
     }

     & .serviciosInfo {
      max-height: 500px;
     }
    }

    &.inactive {
     & .serviciosIcon {
      opacity: 0;
      animation: serviciosIconAnimationAppear 1s 1.7s forwards;
     }
    }

    &:nth-child(even) {
     background-color: $clr-prin-100;

     .serviciosService {
      justify-content: start;

      > b {
       left: 1rem;
      }
     }

     .serviciosIcon {
      right: -0.2rem;
     }
    }

    &:nth-child(odd) {
     background-color: $clr-prin-300;

     .serviciosService {
      justify-content: flex-end;

      > b {
       right: 1rem;
      }
     }

     .serviciosIcon {
      background-color: $clr-prin-100;
      left: -0.2rem;
     }
    }

    .serviciosService {
     width: 100%;
     height: 100%;
     align-items: center;
     display: flex;
     box-sizing: border-box;
     height: 4rem;
     color: $clr-bas-0;
     position: relative;

     > b {
      position: relative;
      transition: left 0.5s, right 0.5s;
      font-size: 1.45rem;
      font-family: $fnt-txt-bold;
     }
    }

    .serviciosIcon {
     position: absolute;
     top: -0.5rem;
     background-color: $clr-prin-300;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 5rem;
     width: 5rem;
     opacity: 1;

     > img {
      height: 4.7rem;
      width: 4.7rem;
      border-radius: 50%;
     }
    }

    .serviciosInfo {
     display: flex;
     flex-direction: column;
     font-size: 1rem;
     background-color: darken($clr-bas-0, 3%);
     border-bottom-right-radius: 25px;
     border-bottom-left-radius: 25px;
     display: block;
     max-height: 0;
     overflow: hidden;
     transition: max-height 2s;

     > p {
      padding: 0.5em 0.5em;
      font-family: $fnt-txt-bold;
     }

     .serviciosImg {
      padding: 0.5em;
      display: flex;
      justify-content: center;
      > img {
       height: 15rem;
       width: 15rem;
       border-radius: 2rem;
      }
     }
    }
   }
  }
 }
}

// service icon animation

@keyframes serviciosIconAnimationDisappear {
 0% {
  opacity: 1;
 }

 100% {
  opacity: 0;
 }
}

@keyframes serviciosIconAnimationAppear {
 0% {
  opacity: 0;
 }

 100% {
  opacity: 1;
 }
}

@keyframes serviciosLiAnimation {
 0% {
  opacity: 0.1;
 }

 100% {
  opacity: 1;
 }
}

// servicios
