// font variables
$fnt-tt: "Sanchez" , "serif";
$fnt-txt: "Montserrat" , "sans-serif";
$fnt-txt-bold: "MontserratSemi" , "sans-serif";
// colors
$clr-prin-100: #e64a45;
$clr-prin-200: #e10600;
$clr-prin-300: #ad0600;
$clr-prin-400: #611f1d;
$clr-prin-500: #610300;
$clr-bas-0: #ffffff;
$clr-bas-1000: #000000;
