include ../modal/modal

mixin galeria(classes, title_class)
	section#galeria(class=`galeria ${classes}`)
		h2(class=`galeria__title ${title_class}`) Galería
		.galeria__content
			.galeria__controls
				.galeria__arrow.galeria__arrow--left
					img.galeria__arrow-img.galeria__arrow-img--left(src="./media/img/svg-gallery-slider-arrow.svg", alt="slider arrow left")
				.galeria__arrow.galeria__arrow--right
					img.galeria__arrow-img.galeria__arrow-img--right(src="./media/img/svg-gallery-slider-arrow.svg", alt="slider arrow right")
			.galeria__container(style="left:0px;")
			+modal()
			