@import "../variables";

.galeria {
	background-color: $clr-bas-1000;
	position: relative;
	overflow-x: hidden;
	padding: 1rem 0;

	&__title {
		color: $clr-bas-0;
	}

	&__content {
		position: relative;
	}

	&__container {
		position: relative;
		width: 100000px;
		margin: 0 auto;
		padding: 1rem 0;
		transition: left .5s;

	}

	&__controls {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__arrow {
		background-color: rgba($color: $clr-prin-200, $alpha: .9);
		padding: .5rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 10;
		transition: transform .3s;
		cursor: pointer;
		box-shadow: rgb(0 0 0 / 15%) 0px 4px 12px 0px;
		margin: 0 .2rem;

		&:hover {
			transform: scale(1.2);
		}

		&--right {
			right: 0;
		}
	}

	&__arrow-img {
		width: 1rem;
		height: 1rem;

		&--left {
			transform: rotate(180deg);
		}
	}

	&__pack {
		display: inline-grid;
		width: 100vw;
		grid-template-columns: repeat(2, 1fr);
		z-index: 9;
	}

	&__image-container {
		width: 100%;
		height: 100%;
		padding: .1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		color: #ffffff;
		overflow: hidden;
		border-radius: .2rem;

	}

	&__image {
		object-fit: cover;
		width: 100%;
		height: 100%;
		transition: transform .3s;

		&:hover {
			transform: scale(1.1);
		}
	}
}

@media (min-width: $xs) {
	.galeria {
		&__pack {
			grid-template-columns: repeat(3, 1fr);

		}
	}
}

@media (min-width: $sm) {
	.galeria {
		&__pack {
			grid-template-columns: repeat(4, 1fr);

		}
	}
}

@media (min-width: $md) {
	.galeria {
		&__pack {
			grid-template-columns: repeat(5, 1fr);

		}
	}
}

@media (min-width: $lg) {
	.galeria {
		&__pack {
			grid-template-columns: repeat(6, 1fr);

		}
	}
}

@media (min-width: $xl) {
	.galeria {
		&__pack {
			grid-template-columns: repeat(7, 1fr);

		}
	}
}