@import "../variables.scss";

.section-container {
	&__servicios {
		background-color: $clr-bas-0;
	}

	&__title {
		font-family: $fnt-tt;
		font-size: 3.5rem;
		padding: .5rem;
		text-align: center;
		letter-spacing: .15rem;
		font-weight: bold;
	}
}