include ../servicios/servicios

mixin section-container()
	.section-container 
		+servicios("section-container__servicios","section-container__title","section-container__button-container","section-container__button")
		//- +ubicacion()
		//- +footer()