-
	var link = {
		whatsapp: "https://api.whatsapp.com/send?phone=529984034867&text=Hola%2C%20me%20gustar%C3%ADa%20tener%20m%C3%A1s%20informaci%C3%B3n.",
		facebook: "https://www.facebook.com/Sal%C3%B3n-Rizo-Canc%C3%BAn-436441746515339",
		instagram: "https://www.instagram.com/salonrizocancun/"
	}