@import "../variables.scss";

.footer {
	background-color: $clr-bas-1000;

	&__social-media {
		display: flex;
		justify-content: space-evenly;
		padding: .5rem 0 0 0;
	}

	&__phone-container {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: .5rem 0;
		position: relative;
		border-bottom: rgba($color: $clr-bas-0, $alpha: 0.3) solid 1px;
	}

	&__phone-button {
		font-size: 1.1rem;
		font-weight: bold;
		padding: 0.8rem 1rem;
		font-family: $fnt-txt-bold;
		background-color: $clr-prin-200;
		color: $clr-bas-0;
		border-radius: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform .3s;

		&:hover {
			transform: scale(1.05);
		}
	}

	&__phone-img {
		width: 1.5rem;
		height: 1.5rem;
		position: relative;
		left: .5rem;
	}

	&__post-footer {
		height: 6rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 0 0 2rem;
	}

	&__section {
		color: $clr-bas-0;
		margin: .2rem 0;
	}

	&__link {
		color: $clr-prin-100;
	}


}

@media (min-width: $sm) {
	.footer {
		display: flex;
		padding: 1rem 0 0 0;
		flex-wrap: wrap;

		&__social-media {
			width: 50%;
			padding: 0;
			justify-content: start;
			padding: 0 0 1rem 1rem;
			border-bottom: rgba($color: $clr-bas-0, $alpha: 0.3) solid 1px;

			.social-media {
				&__link {
					padding: 0 1rem;
				}
			}
		}

		&__post-footer {
			height: unset;
		}

		&__phone-container {
			left: unset;
			padding: unset;
			width: 50%;
			border-bottom: unset;
			justify-content: start;
			border-bottom: rgba($color: $clr-bas-0, $alpha: 0.3) solid 1px;
			padding: 0 0 1rem 0;
		}

		&__post-footer {
			padding: .5rem 0;
			align-items: center;
			justify-content: center;
			width: 100%;
		}
	}
}