//- includes
include ./components/head
include ./components/loader/loader
include ./components/arrow-top/arrow-top
include ./components/hero/hero
include ./components/section-container/section-container 

//- index.html   
+head()  
	+loader() 
	+arrow-top()
	+hero()
	+section-container()