include ./pug/_svgs
include ./pug/_services

+serviceSecondary("lashlifting",
"Lash lifting",
"Lash lifting",
"Es un tratamiento profesional que levanta tus pestañas desde la raíz y las encurva haciéndolas ver más largas. Es un resultado natural que durará de 6 a 8 semanas.",
"../img/serviciosLashlifting.jpg",
"new")
+serviceSecondary("microblanding",
"Microblanding",
"Microblanding",
"Permite un acabado más natural que cualquier otra pigmentación gracias a que se trabaja pelo a pelo para emular el vello de tu ceja.",
"../img/serviciosMicroblanding.jpeg",
"new")
+serviceSecondary("extensiones",
"Extensiones",
"Extensiones",
"Las extensiones son mechones o cortinas de cabello que se añaden al cabello propio y que sirven, fundamentalmente, para aportar volumen y/o longitud a tu melena.",
"../img/serviciosExtensiones.jpg",
"new")
+serviceSecondary("colores",
"Colores",
"Tintes y decoloraciones",
"Un tinte capilar es un tipo especial de colorante diseñado para dotar de un color determinado al cabello.",
"../img/serviciosColores.jpg",
"new")